body {
    padding: 1rem 4rem 8rem 4rem;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    line-height: 1.5;
    font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

}

.base {
    box-shadow: 0 .5em 1em -.125em rgba(10, 10, 10, .1),
        0 0 0 1px rgba(10, 10, 10, .02);
}

.heading {
    display: flex;
    align-items: center;
    flex-grow: 1;
    font-weight: 700;
    color: #363636;
    padding: 0.75rem 1rem;
    box-shadow: 0 .5em 1em -.125em rgba(10, 10, 10, .1),
        0 0 0 1px rgba(10, 10, 10, .02);
}

.score {
    color: #363636;
    font-size: 3rem;
    margin: 0rem 0rem 1.5rem;
}

.content {
    background-color: transparent;
    padding: 1.5rem;
}

.para p {
    margin-top: -1.25rem;
    margin-bottom: 1em;
    color: #4a4a4a;
    font-size: 1.25rem;
}

img {
    display: block;
    width: 100%;
    aspect-ratio: 2;
}

label {
    font-size: 1.5rem;
    color: #363636;
    font-weight: 700;
}

.checklist {
    vertical-align: top;
    position: relative;
    display: inline;
}

#rounds {
    cursor: pointer;
    font-size: 1em;
    width: 4.5rem;
    margin-left: 4px;
    color: #363636;
    border-color: #dbdbdb;
    outline: none;
    border-radius: 290486px;
    appearance: none;
    padding: 0.5em 1em 0.6em 1em;
    font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.arrow {
    display: block;
    border: solid #3273dc;
    border-width: 0 2px 2px 0;
    padding: 0.5px;
    position: absolute;
    transform: rotate(45deg);
    height: .4rem;
    width: .4rem;
    top: 25%;
    right: 0;
    left: 86%;
}

.btn {
    align-items: stretch;
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    justify-content: center;
    padding: 0;
    margin: 0;
    position: relative;
    white-space: nowrap;

}

.btnStyle {
    cursor: pointer;
    padding: 0.75rem;
    font-size: 1.5rem;
    border-radius: 4px;
    border-color: transparent;
    width: 100%;
    border-right: 1px solid #ededed;
    color: #fff;
    font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

}

.btn1Custom {
    background-color: #00d1b2;
}

.btn2Custom {
    background-color: #2793da;
    ;
}

.btnRCustom {
    background-color: #f14668;
    border-right: transparent;
}


#btn1:hover:not(:disabled) {
    background: #00c4a7;
    border-color: transparent;
}

#btn1:active:not(:disabled) {
    background: #00b89c;
    border-color: transparent;
}

#btn2:hover:not(:disabled) {
    background: #2793da;
    border-color: transparent;
}

#btn2:active:not(:disabled) {
    background: #238cd1;
    border-color: transparent;
}

#btnR:hover {
    background: #f03a5f;
    border-color: transparent;
}

#btnR:active {
    background: #ef2e55;
    border-color: transparent;
}

.btnFocusNotActive:focus:not(:active) {
    box-shadow: 0 0 0 0.125em rgb(241 70 104 / 25%);
}

.btnFocus:focus {
    border-color: transparent;
}

.disabled {
    cursor: not-allowed;
    pointer-events: all;
    opacity: 0.5;
}

#btn1:disabled {
    background: #00d1b2;

}

#btn2:disabled {
    background: #3298dc;

}


.checklist:hover #rounds {
    border-color: #b5b5b5;
}

.checklist:hover .arrow {
    border-color: #363636;
    pointer-events: none;
}

.greenColor {
    color: #48c774;
}

.redColor {
    color: #f14668;
}

@media (min-width:769px) {
    body {
        display: flex;

    }

    .base {
        max-width: 50%;
    }
}

@media(min-width:769px) and (max-width:1098px) {
    body {
        padding: 0;
    }

    .btnStyle {
        padding: 0.55rem;
    }
    .base{
        max-width:55%;
    }
}

@media (max-width:769px) {
    body{
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .btn{
        flex-wrap: wrap;
    }
    .btnStyle{
        width:50%;
        padding-left:0.4rem;
        padding-right:0.4rem;
        border: transparent;
    }
    #btnR{
        width:100%;
    }
}
